body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 12px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:visited {
  outline: none;
}

p {
  color: #a5a4a4;
}

.btn {
  color: #fff;
  background-color: #2ecc71;
  padding: 15px 45px 15px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #1b7943;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
  }
}

header .container {
  border-bottom: 2px solid #dadada;
  padding: 30px 15px;
}

header .fa-bars,
header .fa-close {
  color: #2ecc71;
  font-size: 3.5rem;
}

nav ul {
  width: 100%;
  background: #2ecc71;
}

nav ul li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #322f2f;
}

nav ul li a {
  display: inline-block;
  color: #737373;
  font-size: 1.5rem;
  padding: 1.2rem 0;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover, nav ul li a.active {
  background-color: #322f2f;
  color: #2ecc71;
}

nav .container {
  padding: 0 !important;
}

@media (min-width: 768px) {
  header .container {
    padding: 30px 0;
  }
  nav {
    padding: 20px 0;
  }
  nav .container {
    padding: 15px 0 !important;
  }
  nav .container .nav-menu {
    background-color: transparent;
  }
  nav .container .nav-menu li {
    border: none;
  }
  nav .container .nav-menu li .nav-link {
    margin-right: 50px;
    padding: 0;
    text-align: left;
  }
  nav .container .nav-menu li .nav-link:hover, nav .container .nav-menu li .nav-link.active {
    background: transparent;
  }
  .social-icons .fa {
    font-size: 1.3rem;
    padding: 8px 10px;
    line-height: 1.3rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 6px solid #dadada;
    border-radius: 50%;
    margin-left: 10px;
    color: #dadada;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .social-icons .fa:hover {
    color: #00bbf5;
    border-color: #00bbf5;
  }
  .social-icons .fa:nth-of-type(5) {
    padding: 8px;
  }
  .social-icons .fa:nth-of-type(2) {
    padding: 8px 11px;
  }
}

.lead-section {
  background-image: url("../img/slider-background.jpg");
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin-bottom: 200px;
}

.lead-section .wrapper {
  position: absolute;
  bottom: -135px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.lead-section .wrapper img {
  margin-bottom: 30px;
}

.lead-section .wrapper p {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .lead-section {
    height: 500px;
  }
  .lead-section .wrapper {
    bottom: -150px;
  }
  .lead-section .wrapper img {
    margin-bottom: 0px;
  }
  .lead-section .wrapper p {
    width: 90%;
    margin: 40px auto;
  }
}

@media (min-width: 1200px) {
  .lead-section {
    height: 550px;
    margin-bottom: 250px;
  }
  .lead-section .wrapper {
    bottom: -175px;
  }
  .lead-section .wrapper p {
    width: 60% !important;
  }
}

.know-us {
  background-color: #efefef;
  padding: 40px 0;
  position: relative;
}

.know-us figure {
  margin-bottom: 50px;
  width: 100%;
}

.know-us figure img {
  width: 100%;
}

.know-us h2 {
  color: #737373;
  margin-bottom: 10px;
}

.know-us p:nth-of-type(1) {
  margin-bottom: 20px;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: none;
}

.custom-popup .popup-body {
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation: modalopen 2.5s;
          animation: modalopen 2.5s;
  background: #fff;
  width: 90%;
  height: 300px;
  border-radius: 10px;
  margin: 50% auto;
}

.custom-popup .fa-close {
  position: absolute;
  top: 15%;
  right: 10%;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.custom-popup .fa-close:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #00bbf5;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .know-us h2 {
    font-size: 1.5rem;
  }
  .popup-body {
    margin: 25% auto !important;
    height: 500px !important;
  }
}

@media (min-width: 1200px) {
  .popup-body {
    margin: 10% auto !important;
  }
  .fa-close {
    top: 5% !important;
  }
}

.projects {
  padding-top: 50px;
  text-align: center;
}

.projects h2 {
  color: #737373;
}

.projects p {
  width: 90%;
  margin: 20px auto;
}

.projects .projects-slider-wrapper img {
  height: 250px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.projects .projects-slider-wrapper li {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects .projects-slider-wrapper li:hover img {
  opacity: 1;
}

.projects .projects-slider-wrapper li:hover .fa {
  display: inline-block;
  -webkit-animation: falling 0.5s linear forwards;
          animation: falling 0.5s linear forwards;
}

.projects .projects-slider-wrapper li:hover h2 {
  visibility: visible;
  -webkit-animation: falling 0.5s linear forwards;
          animation: falling 0.5s linear forwards;
}

.projects .projects-slider-wrapper li a {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  padding: 20px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: none;
}

.projects .projects-slider-wrapper li h2 {
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #2ecc71;
}

.projects .ready {
  padding: 30px 0;
  background-color: #322f2f;
}

.projects .ready p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .projects .ready p {
    text-align: left;
  }
  .projects .ready a.btn {
    display: inline-block;
    width: 300px;
  }
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.owl-carousel .owl-nav {
  width: 30%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: transparent;
  color: #2ecc71;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer nav a {
  display: inline-block;
  color: #a5a4a4;
  margin-right: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer nav a::after {
  content: '/';
  padding-left: 10px;
}

footer nav a:hover {
  color: #2ecc71;
}

footer nav a:nth-of-type(4)::after {
  content: '';
}

@media (min-width: 768px) {
  footer p {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */